
html
  head

    title #{title} - Stephany 
        link(rel='stylesheet', href='/stylesheets/style.css')

  body
 
    header(class="b") 
      h1 TE amo 
    .container
      .main-content
        block content
        p 
          |Este es un mensaje para el amor de mi vida 
          |por que ? 
      
        ul
          li por linda 
          li por dulce 
          li por su forma de ser 
          li por su cara 
          img(src="http://ayudawp.com/wp-content/uploads/2008/08/imagen.jpg")
      .sidebar
        block sidebar
         
          footer
            p Esto esta genial 